---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404" description="404">
  <div
    class="bg-no-repeat bg-cover relative h-[90vh] w-full max-w-[100vw] min-h-screen flex flex-col items-center justify-center text-white"
  >
    <img
      src="/404-blanco.svg"
      alt="404"
      width={500}
      class="mb-16 top-0 object-cover"
    />
    <h1 class="text-9xl font font-tomaso">
      <span>4</span><span>0</span><span>4</span>
    </h1>
    <p class="text-xl mt-2 font-jura">¡Ups!, algo se rompió.</p>
    <p class="font-tomaso text-pretty">Esta página no existe.</p>
    <a
      class="mt-8 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-slate-900 hover:bg-slate-950"
      href="/"
    >
      Regresar al inicio
    </a>
  </div>

  <style>

    h1 {
      text-shadow: 0px 5px 10px rgba(197, 255, 255, 0.5);
    }
  </style>
</Layout>
