<div
  class="dark min-h-screen bg-gray-900 flex flex-col items-center justify-center text-white"
>
  <img
    src="/star-gold/404.gif"
    alt="Broken weight"
    width="600"
    class="mb-8"
    style="aspect-ratio: 300 / 300; object-fit: cover;"
  /><h1 class="text-9xl font-bold">404</h1><p class="text-xl mt-2">
    Página no encontrada
  </p><a
    class="mt-8 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-gray-900 bg-white hover:bg-gray-50"
    href="#"
  >
    Regresar al inicio
  </a>
</div>
