<h1>
    <a href="{{ route('home') }}">Home</a>
    <a href="{{ route('about') }}">About</a>
    <a href="{{ route('contact') }}">Contact</a>
    <a href="{{ route('posts.index') }}">Blog Posts</a>
    <a href="{{ route('posts.create') }}">Add Blog Post</a>
    <a href="{{ route('posts.show', ['id' => 1]) }}">Blog Post 1</a>
    <a href="{{ route('posts.edit', ['id' => 1]) }}">Edit Blog Post 1</a>
    <a href="{{ route('posts.index') }}">Blog Posts</a>
    <a href="{{ route('posts.create') }}">Add Blog Post</a>
    <a href="{{ route('posts.show', ['id' => 1]) }}">Blog Post 1</a>
    <a href="{{ route('posts.edit', ['id' => 1]) }}">Edit Blog Post 1</a>
    <a href="{{ route('posts.index') }}">Blog Posts</a>
    <a href="{{ route('posts.create') }}">Add Blog Post</a>
    <a href="{{ route('posts.show', ['id' => 1]) }}">Blog Post 1</a>
    <a href="{{ route('posts.edit', ['id' => 1]) }}">Edit Blog Post 1</a>
    <a href="{{ route('posts.index') }}">Blog Posts</a>
    <a href="{{ route('posts.create') }}">Add Blog Post</a>
    <a href="{{ route('posts.show', ['id' => 1]) }}">Blog Post 1</a>
    <a href="{{ route('posts.edit', ['id' => 1]) }}">Edit Blog Post 1</a>
    <a href="{{ route('posts.index') }}">Blog Posts</a>
    <a href="{{ route('posts.create') }}">Add Blog Post</a>
    <a href="{{ route('posts.show', ['id' => 1]) }}">Blog Post 1</a>
    <a href="{{ route('posts.edit', ['id' => 1]) }}">Edit Blog Post 1</a>
    <a href="{{ route('posts.index') }}">Blog Posts</a>
    <a href="{{ route('posts.create') }}">Add Blog Post</a>
    <a href="{{ route('posts.show', ['id' => 1]) }}">Blog Post 1</a>
</h1>