---
import Layout from "../../layouts/Layout.astro";
import Video from "../../components/Video.astro";
import Intro from "../../components/Intro.astro";
import Bento from "../../components/Bento.astro";
import PreFooter from "../../components/PreFooter.astro";
import Footer from "../../components/Footer.astro";
import PersonalTrainer from "../PersonalTrainer.astro";
---

<Layout
  title="STAR GOLD: El gimnasio de las estrellas"
  description="STAR GOLD es un gimnasio de primera categoría que ofrece una amplia gama de servicios de fitness y bienestar. Con instalaciones de última generación y un equipo de profesionales altamente capacitados, nos dedicamos a ayudar a nuestros miembros a alcanzar sus metas de salud y fitness. Ya sea que estés buscando clases de fitness grupales, entrenamiento personalizado o consejos de nutrición, STAR GOLD tiene algo para todos. Únete a nosotros hoy y empieza tu viaje hacia una vida más saludable y activa."
>
  <link
    rel="preload"
    href="/fonts/jura.woff2"
    as="font"
    type="font/woff2"
    crossorigin
    slot="preload"
  />
  <Video />
  <main>
    <Intro />
    <Bento />
    <PersonalTrainer />
    <PreFooter />
  </main>
  <Footer />
</Layout>
