---
import Layout from "../../layouts/Layout.astro";
import Video from "../../components/Video.astro";
import Intro from "../../components/Intro.astro";
import Bento from "../../components/Bento.astro";
import PreFooter from "../../components/PreFooter.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="Inmersión Total: Alquiler de Plataformas de Video y Fotos en 360 Grados"
  description="Descubre la inmersión total con nuestras plataformas de alquiler de videos y fotos en 360 grados. Captura y comparte experiencias únicas desde todos los ángulos. Perfecto para eventos, turismo, inmobiliaria y más. Sumérgete en la realidad virtual con la máxima calidad y facilidad de uso. ¡Explora el mundo en 360 grados con nosotros hoy!"
>
<link
rel="preload"
href="/fonts/jura.woff2"
as="font"
type="font/woff2"
crossorigin
slot="preload"
/>
  <Video />
  <main>
    <Intro />
    <Bento />
    <Perso
    <PreFooter />
  </main>
  <Footer />
</Layout>
