---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "../HeroContainer.astro";
import Footer from "../Footer.astro";
---

<Layout title="Info" description="Info">
  <HeroContainer img="/star-gold/portada.jpg">
    <h1
      class="text-4xl text-center lg:text-6xl uppercase font-tomaso tracking tracking-widest text-white"
    >
      los premios esland
    </h1>
  </HeroContainer>
  <main>
    <section
      class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8"
    >
      <div class="md:w-1/2 space-y-4">
        <h1
          class="mx-auto mb-10 text-wrap text-center text-4xl font-semibold tracking-wide"
        >
          Lorem ipsum dolor sit
        </h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis,
          laudantium alias doloremque dolores ex iste, rerum quo unde obcaecati
          at beatae suscipit quaerat optio tenetur odio cum mollitia. Saepe,
          repellat!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim incidunt
          necessitatibus odit excepturi amet. Tempore debitis ratione amet
          magnam omnis voluptatum odio, cupiditate sed deserunt. Culpa
          architecto provident minus id.
        </p>
      </div>
      <div class="mt-6 md:mt-0 md:w-1/2">
        <img
          src="/theater.webp"
          alt="info"
          class="w-full h-full object-cover rounded-md"
          style={{
            aspectRatio: "812/556",
            objectFit: "cover",
          }}
          width={500}
        />
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col ol md:flex-row items-center justify-between p-6 md:p-8">
      <div class="mt-6 md:mt-0 md:w-1/2">
        <img
          src="/trophies.webp"
          alt="info"
          class="w-full h-full object-cover rounded-md"
          style={{
            aspectRatio: "812/556",
            objectFit: "cover",
          }}
          width={812}
        />
      </div>
      <div class="md:w-1/2 space-y-4">
        <h1
          class="mx-auto mb-10 text-wrap text-center text-4xl font-semibold tracking-wide"
        >
          Lorem ipsum dolor sit
        </h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis,
          laudantium alias doloremque dolores ex iste, rerum quo unde obcaecati
          at beatae suscipit quaerat optio tenetur odio cum mollitia. Saepe,
          repellat!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim incidunt
          necessitatibus odit excepturi amet. Tempore debitis ratione amet
          magnam omnis voluptatum odio, cupiditate sed deserunt. Culpa
          architecto provident minus id.
        </p>
    </section>
  </main>
  <Footer />
</Layout>
