<!-- Navbar va aquí -->
<header  id="header-nav" class="fixed w-full py-2 z-50 top-0 px-6">
  <div class="flex max-w-7xl mx-auto items-center justify-between">
    <!-- logo -->
    <div class="flex flex-grow basis-0">
      <a href="/" >
        <img class="w-24" src="/star-gold.svg" alt="logo" />
      </a>
    </div>
    <nav
      class="flex flex-grow basis-0 w-full gap-x-6 text-lg md:justify-center font-medium"
    >
      <a class="hover:underline" href="/">Inicio</a>
      <a class="hover:underline" href="/info">Info</a>
      <a class="hover:underline" href="/archivo">Archivo</a>
    </nav>
  </div>
</header>
