<section>
  <h1
    class="text-center font-tomaso text-3xl lg:text-6xl text-pretty tracking-widest font-bold pt-20"
  >
    Nuestros Entrenadores
  </h1>

  <div
    class="grid grid-cols-1 mx-auto md:grid-cols-3 gap-8 max-w-6xl px-6 py-20"
  >
    <!-- card 1 -->
    <div
      class="group overflow-hidden rounded-lg bg-[url('/star-gold/portada1.webp')] bg-cover bg-center shadow-xl shadow-black hover:scale-105 duration-1000"
    >
      <div class="relative h-[500px]">
        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-200 group-hover:opacity-100 hover:bg-black hover:bg-opacity-50"
        >
          <div class="flex flex-row justify-center items-center gap-6">
            <a
              class="flex h-12 w-12 items-center justify-center rounded-full"
              href="https://www.facebook.com/profile.php?id=100064858935980"
              target="_blank"
            >
              <img src="/icons/facebook.svg" alt="" />
            </a>
            <a
              class="flex h-10 w-10 items-center justify-center rounded-full"
              href="https://www.instagram.com/espiorlando/"
              target="_blank"
            >
              <img src="/icons/instagram.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div
        class="bg-white/10 bg-opacity-70 p-3 gap-3 flex flex-col mx-auto justify-center items-center"
      >
        <h1
          class="pt-2 text-sm md:text-base font-tomaso font-bold text-center text-pretty tracking-wide text-black"
        >
          Manuel Orlando Espinola Sanchez
        </h1>
        <p
          class="text-slate-950 font-jura text-sm font-bold text-center tracking-widest"
        >
          Personal Trainer
        </p>
      </div>
    </div>
    <!-- card 2 -->
    <div
      class="group overflow-hidden rounded-lg bg-[url('/star-gold/portada1.webp')] bg-cover bg-center  shadow-xl shadow-black hover:scale-105 duration-1000"
    >
      <div class="relative h-[500px]">
        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-200 group-hover:opacity-100 hover:bg-black hover:bg-opacity-50"
        >
          <div class="flex flex-row justify-center items-center gap-6">
            <a
              class="flex h-12 w-12 items-center justify-center rounded-full"
              href="https://www.facebook.com/profile.php?id=100064858935980"
              target="_blank"
            >
              <img src="/icons/facebook.svg" alt="" />
            </a>
            <a
              class="flex h-10 w-10 items-center justify-center rounded-full"
              href="https://www.instagram.com/espiorlando/"
              target="_blank"
            >
              <img src="/icons/instagram.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div
        class="bg-white/10 bg-opacity-50 p-3 gap-3 flex flex-col mx-auto justify-center items-center"
      >
        <h1
          class="pt-2 text-sm md:text-base font-tomaso font-bold text-center text-pretty tracking-wide text-black"
        >
          Manuel Orlando Espinola Sanchez
        </h1>
        <p
          class="text-slate-950 font-jura text-sm font-bold text-center tracking-widest"
        >
          Personal Trainer
        </p>
      </div>
    </div>
    <!-- card 3 -->
    <div
      class="group overflow-hidden rounded-lg bg-[url('/star-gold/portada1.webp')] bg-cover bg-center  shadow-xl shadow-black  hover:scale-105 duration-1000"
    >
      <div class="relative h-[500px]">
        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-200 group-hover:opacity-100 hover:bg-black hover:bg-opacity-50"
        >
          <div class="flex flex-row justify-center items-center gap-6">
            <a
              class="flex h-12 w-12 items-center justify-center rounded-full"
              href="https://www.facebook.com/profile.php?id=100064858935980"
              target="_blank"
            >
              <img src="/icons/facebook.svg" alt="" />
            </a>
            <a
              class="flex h-10 w-10 items-center justify-center rounded-full"
              href="https://www.instagram.com/espiorlando/"
              target="_blank"
            >
              <img src="/icons/instagram.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div
        class="bg-white/10 bg-opacity-50 p-3 gap-3 flex flex-col mx-auto justify-center items-center"
      >
        <h1
          class="pt-2 text-sm md:text-base font-tomaso font-bold text-center text-pretty tracking-wide text-black"
        >
          Manuel Orlando Espinola Sanchez
        </h1>
        <p
          class="text-slate-950 font-jura text-sm font-bold text-center tracking-widest"
        >
          Personal Trainer
        </p>
      </div>
    </div>
  </div>
</section>
