---
import { TypeAnimation } from "react-type-animation";
---

<div class="text-base text-white">
  <TypeAnimation
    client:load
    sequence={[
      "Nuestra galería es un escaparate de los maravillosos eventos que hemos tenido el placer de organizar. Cada foto y video captura los momentos mágicos que hemos creado juntos con nuestros clientes.",
      3000,
      "Aquí encontrarás una selección de imágenes de nuestros eventos más recientes. Desde elegantes bodas hasta animadas fiestas de cumpleaños, cada evento es una celebración de la vida y las relaciones.",
      3000,
      "Esperamos que disfrutes explorando nuestra galería tanto como nosotros disfrutamos creando estos momentos.",
      3000,
    ]}
    wrapper="span"
    speed={75}
    repeat={100}
  />
</div>
