---
import Logo from "./Logo.astro";

---

<section class="text-xl text-left px-6 sm:px-20 max-w-[70ch] text-pretty mx-auto my-24">
<!-- <Logo class="w-16 text-white m-auto mb-10" /> -->
<img class="w-64 text-white m-auto mb-10" src="/star-gold.svg" alt="">
  <h1
    class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
  >
    Bienvenidos/as <br /> a STAR GOLD
  </h1>
  <p>
    <strong>STAR GOLD</strong> es más que un simple gimnasio, <strong>es un espacio dedicado a tu bienestar y salud</strong>. Aquí, te ayudamos a alcanzar tus <strong>metas de fitness</strong>, ya sea que estés comenzando tu viaje o seas un atleta experimentado.
  </p>
  <p>
    Nuestro gimnasio cuenta con <strong>instalaciones de última generación</strong>, una amplia gama de equipos de entrenamiento y <strong>un equipo de profesionales altamente capacitados</strong> listos para ayudarte a alcanzar tus objetivos. Ofrecemos una variedad de clases <strong>fitness</strong>, hasta <strong>entrenamiento de fuerza y cardio</strong>.

  </p>

  <p>
    En <strong>STAR GOLD</strong>, creemos en la importancia de un enfoque holístico de la <strong>salud y el bienestar</strong>. Por eso, además de nuestras instalaciones de entrenamiento, también ofrecemos servicios de nutrición y bienestar para ayudarte a vivir una vida equilibrada.
  </p>
  <p>
    Ven y únete a la familia STAR GOLD, donde el oro no solo está en nuestro nombre, sino también en el servicio que ofrecemos. ¡Esperamos verte pronto!
  </p>
</section>
