<section>
  <div class="grid grid-cols-2 gap-4 max-w-[1400px] mx-auto">
    <div
      class="group flex flex-col text-card-foreground w-[400px] h-[500px] rounded-lg overflow-hidden shadow-lg shadow-slate-950 transition-all hover:scale-105"
    >
      <div class="relative">
        <img
          src="/star-gold/portada1.webp"
          alt="personal trainer"
          class="w-full object-contain"
        />

        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-1000 bg-black bg-opacity-50"
        >
          <div class="grid grid-cols-3 gap-2">
            <a
              class="w-12 h-12 p-1 border-2 rounded-full flex items-center justify-center text-white hover:scale-105 hover:bg-blue-500/60 hover:border-blue-500"
              href="https://www.facebook.com/profile.php?id=100064858935980"
              target="_blank"
            >
              <svg
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
              >
                <rect x="0" fill="none" width="20" height="20"></rect>
                <g>
                  <path
                    d="M8.46 18h2.93v-7.3h2.45l.37-2.84h-2.82V6.04c0-.82.23-1.38 1.41-1.38h1.51V2.11c-.26-.03-1.15-.11-2.19-.11-2.18 0-3.66 1.33-3.66 3.76v2.1H6v2.84h2.46V18z"
                  ></path>
                </g>
              </svg>
            </a>
          </div>
          <a
            class="w-12 h-12 p-2 border-2 rounded-full flex items-center justify-center text-white hover:scale-105 hover:bg-orange-500/60 hover:border-orange-500"
            href="https://www.instagram.com/espiorlando/"
            target="_blank"
          >
            <svg
              height="200px"
              width="200px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 551.034 551.034"
              xml:space="preserve"
              fill="#000000"
              stroke="#000000"
              stroke-width="0.005510340000000001"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g id="XMLID_13_">
                  <linearGradient
                    id="XMLID_2_"
                    gradientUnits="userSpaceOnUse"
                    x1="275.517"
                    y1="4.5714"
                    x2="275.517"
                    y2="549.7202"
                    gradientTransform="matrix(1 0 0 -1 0 554)"
                  >
                    <stop offset="0" style="stop-color:#E09B3D"></stop>
                    <stop offset="0.3" style="stop-color:#C74C4D"></stop>
                    <stop offset="0.6" style="stop-color:#C21975"></stop>
                    <stop offset="1" style="stop-color:#7024C4"></stop>
                  </linearGradient>
                  <path
                    id="XMLID_17_"
                    style="fill:url(#XMLID_2_);"
                    d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722 c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156 C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156 c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722 c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"
                  ></path>
                  <linearGradient
                    id="XMLID_3_"
                    gradientUnits="userSpaceOnUse"
                    x1="275.517"
                    y1="4.5714"
                    x2="275.517"
                    y2="549.7202"
                    gradientTransform="matrix(1 0 0 -1 0 554)"
                  >
                    <stop offset="0" style="stop-color:#E09B3D"></stop>
                    <stop offset="0.3" style="stop-color:#C74C4D"></stop>
                    <stop offset="0.6" style="stop-color:#C21975"></stop>
                    <stop offset="1" style="stop-color:#7024C4"></stop>
                  </linearGradient>
                  <path
                    id="XMLID_81_"
                    style="fill:url(#XMLID_3_);"
                    d="M275.517,133C196.933,133,133,196.933,133,275.516 s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6 c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083 C362.6,323.611,323.611,362.6,275.517,362.6z"
                  ></path>
                  <linearGradient
                    id="XMLID_4_"
                    gradientUnits="userSpaceOnUse"
                    x1="418.306"
                    y1="4.5714"
                    x2="418.306"
                    y2="549.7202"
                    gradientTransform="matrix(1 0 0 -1 0 554)"
                  >
                    <stop offset="0" style="stop-color:#E09B3D"></stop>
                    <stop offset="0.3" style="stop-color:#C74C4D"></stop>
                    <stop offset="0.6" style="stop-color:#C21975"></stop>
                    <stop offset="1" style="stop-color:#7024C4"></stop>
                  </linearGradient>
                  <circle
                    id="XMLID_83_"
                    style="fill:url(#XMLID_4_);"
                    cx="418.306"
                    cy="134.072"
                    r="34.149"></circle>
                </g>
              </g></svg
            >
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bg-white bg-opacity-50 p-2 -translate-y-24 rounded-lg m-4 flex justify-between items-center"
  >
    <div class="text-white text-sm">Available soon.</div>
    <button
      class="inline-flex items-center justify-center rounded-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 bg-[#ffffff] text-[#000000] text-sm py-1 px-2 mt-1"
      >Notify me</button
    >
  </div>
</section>
