<section>
  <div class="grid grid-cols-2 gap-4 max-w-[1400px] mx-auto">
    <div
      class="group flex flex-col w-[400px] h-[500px] rounded-lg overflow-hidden shadow-lg shadow-slate-950 transition-all hover:scale-105"
    >
      <div class="relative">
        <img
          src="/star-gold/portada1.webp"
          alt="personal trainer"
          class="w-full object-contain"
        />

        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-1000 bg-black bg-opacity-50"
        >
          <div class="grid grid-cols-3 gap-2">
            <a
              class="w-12 h-12 p-1 flex items-center justify-center text-white hover:scale-125 "
              href="https://www.facebook.com/profile.php?id=100064858935980"
              target="_blank"
            >
              <img src="/icons/facebook.svg" alt="">
            </a>

          </div>
          <a
            class="w-12 h-12 p-2 border-2 rounded-full flex items-center justify-center text-white hover:scale-105 hover:bg-orange-500/60 hover:border-orange-500"
            href="https://www.instagram.com/espiorlando/"
            target="_blank"
          >
            <img src="/icons/" alt="">
          </a>
        </div>
      </div>

      <div
        class="bg-white bg-opacity-50 p-2 -translate-y-24 rounded-lg m-4 flex justify-between items-center"
      >
        <div class="text-white text-sm">Available soon.</div>
        <button
          class="inline-flex items-center justify-center rounded-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 bg-[#ffffff] text-[#000000] text-sm py-1 px-2 mt-1"
          >Notify me</button
        >
      </div>
    </div>
  </div>
</section>
