<section>
  <div class="grid grid-cols-2 gap-4 max-w-[1400px] mx-auto">
    <div
      class="group flex flex-col text-card-foreground w-[400px] h-[500px] rounded-lg overflow-hidden shadow-lg shadow-slate-950 transition-all hover:scale-105"
    >
      <div class="relative">
        <img
          src="/star-gold/portada1.webp"
          alt="personal trainer"
          class="w-full object-contain"
        />

        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-1000 bg-black bg-opacity-50"
        >
          <div class="grid grid-cols-3 gap-2">

            <a
              class="w-10 h-10 border-2 rounded-full flex items-center justify-center text-white "
              href="#"
            >
              <svg
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <rect x="0" fill="none" width="20" height="20"></rect>
                  <g>
                    <path
                      d="M8.46 18h2.93v-7.3h2.45l.37-2.84h-2.82V6.04c0-.82.23-1.38 1.41-1.38h1.51V2.11c-.26-.03-1.15-.11-2.19-.11-2.18 0-3.66 1.33-3.66 3.76v2.1H6v2.84h2.46V18z"
                    ></path>
                  </g>
                </g>
              </svg>
            </a>

            <a
              class=w-10 h-10 border-2 rounded-full flex items-center justify-center text-white "
              href="#"
            >
              T
            </a>
            <a
              class=w-10 h-10 border-2 rounded-full flex items-center justify-center text-white "
              href="#"
            >
              I
            </a>
          </div>
        </div>
      </div>

      <div
        class="bg-white bg-opacity-50 p-2 -translate-y-28 rounded-2xl m-4 flex justify-between items-center"
      >
        <div class="text-white text-sm">Available soon.</div>
        <button
          class="inline-flex items-center justify-center rounded-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 bg-[#ffffff] text-[#000000] text-sm py-1 px-2 mt-1"
          >Notify me</button
        >
      </div>
    </div>
  </div>
</section>
