<section>
  <div class="grid grid-cols-2 gap-4 max-w-[1400px] mx-auto">
      <div class="flex flex-col items-center justify-center">
        <div class="relative">
          <img
            src="/star-gold/portada1.webp"
            alt="Landscape"
            class="w-full h-auto object-cover rounded-lg"
            width="200"
            height="200"
          />
          <img
            src="/star-gold/portada1.webp"
            alt="Landscape"
            class="w-full h-auto object-cover rounded-lg absolute inset-0 scale-105"
            width="200"
            height="200"
          />
        </div>

        <div
          class="flex items-center p-2 justify-center bg-white bg-opacity-40 w-[90%] bg-blend-saturation mx-auto rounded-3xl -translate-y-28"
        >
          <p class="text-xl text-black text-center">
            "The best view comes after the hardest climb."
          </p>
        </div>
      </div>

      
  </div>
</section>
