<section>
  <div class="grid grid-cols-2 gap-4 max-w-[1400px] mx-auto">
    <div
      class="group flex flex-col w-[400px] h-[500px] rounded-lg overflow-hidden shadow-lg shadow-slate-950 transition-all hover:scale-105"
    >
      <div class="relative">
        <img
          src="/star-gold/portada1.webp"
          alt="personal trainer"
          class="w-full object-contain"
        />

        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-1000 bg-black bg-opacity-50"
        >
          <div class="grid grid-cols-3 gap-2">
            <a
              class="w-12 h-12 p-1 flex items-center justify-center hover:scale-125"
              href="https://www.facebook.com/profile.php?id=100064858935980"
              target="_blank"
            >
              <img src="/icons/facebook.svg" alt="facebook" />
            </a>
            <a
              class="w-12 h-12 p-1 flex items-center justify-center hover:scale-125"
              href="https://www.instagram.com/espiorlando/"
              target="_blank"
            >
              <img src="/icons/instagram.svg" alt="instagram" />
            </a>
          </div>
        </div>
      </div>

      <div
        class="bg-white bg-opacity-50 px-2 py-1 -translate-y-24 rounded-lg m-4 flex flex-col items-center"
      >
        <h1 class="text-black text-base">Manuel Orlando Espinola Sanchez </h1>
        <p
          class=""
          >Notify me</p
        >
      </div>
    </div>
  </div>
</section>
