<section>
  <div class="grid grid-cols-2 gap-4 max-w-[1400px] mx-auto">
    <div
      class="absolute z-10 bottom-0 top-0 w-full h-full bg-gradient-to-b from-transparent from-30% via-black/50 to-black/80"
    >
    </div>
    <img 
    src="/star-gold/portada1.webp" 
    alt=""
    >
    <div
      class="relative select-none flex flex-col gap-1 p-2 text-lg z-20 justify-end h-full md:p-6"
    >
      <h2 class="text-3xl font-semibold text-balance text-white mb-4 uppercase">
        hola
      </h2>

      <h3 class="text-3xl font-semibold text-sky-200/80 -mt-4 mb-4">hola 2</h3>
    </div>
  </div>
</section>
